* {
  color: #FFFFFF;
}

body {
  margin: 0;
	padding: 0;
	outline: 0;
  width: 100%;
  height: auto;
  background: rgb(39,52,67);
  background: linear-gradient(180deg,#273443 0%,#000039 77%,#003f59 100%);
}

.greeting {
  text-align: center;
}


.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parent-container {
  display: grid;
  /* gap: 1.5%; */
  width: 100vw;
  height: 60vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  /* height: auto; */
  /* margin: auto; */
}

.box {
  width: 40vw;
  height: 20vh;
  border-radius: 15px;
  box-shadow: 10px 15px 10px #000000;
}

.hydration {
  background-color: #E0489B;
}

.sleep {
  background-color: #7E26B9;
}

.activity {
  background-color: #48E0AD;
}

.activity-average {
  background-color: #2F8EA1;
}